:root {
	--bg-color: #841205;
	--hl-color: #A72119;
	--menu-font-color: white;
	--font-color: #430C08;
	--box-bg: #ece2d5;
	--main-font: 'Cubellan';
}

@font-face {
  font-family: 'Cubellan';
  src: url('../font/Cubellan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family: var(--main-font);
	font-size: 20pt;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
}

.site-nav {
	border-right: 2px solid var(--box-bg);
	
}

.logo {
	display: block;
	padding: clamp(1em, 3vw, 3em);
	border-bottom: 2px solid var(--box-bg);
}

.main-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-menu > li {
	margin: 0;
	padding: 0;
}

.main-menu > li > a {
	display: block;
	padding: clamp(0.5em, 1.5vw, 1.5em);
	color: var(--menu-font-color);
	text-decoration: none;
	border-bottom: 2px solid var(--box-bg);
}

.content {
	margin-top: 3rem;
	border-top: 2px solid var(--box-bg);
	padding: clamp(1em, 3vw, 3em);
	background-color: var(--box-bg);
}
