:root {
	--bg-color: #DE4129;
	--hl-color: #A72119;
	--menu-font-color: white;
	--font-color: #430C08;
	--box-bg: #FF664B;
	--main-font: 'Cubellan';
}

@font-face {
  font-family: 'Cubellan';
  src: url('../font/Cubellan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family: var(--main-font);
	font-size: 20pt;
}

body {
  padding: 3em 3em 0;
  min-height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "navigation . main"
    "footer footer footer";
  grid-template-columns: 225px 25px auto;
  grid-template-rows: auto 50px;
  margin: 0;
}

header {
  grid-area: navigation;
  justify-self: stretch;
  padding-right: 25px;
  border-right: 5px solid var(--hl-color);
}

nav a, nav a:visited {
	color: var(--menu-font-color);
	font-size: 120%;
}

nav ul {
	list-style: none;
	display: inline-block;
}

nav li {
	display: inline-block;
}

.logo {
	display: inline-block;
	padding: 0.5em;
	border-radius: 50%;
	background-color: var(--hl-color);
}

.logo img {
	max-width: 5em;
}

main {
  grid-area: main;
  justify-self: stretch;
	padding: 2em;
	border-radius: 23px;
	background-color: var(--box-bg);
}

footer {
  grid-area: footer;
}
